<!--The content below is only a placeholder and can be replaced.-->
<h2>This excercise is to render a combo of image inputs to be viewed
  as they change, also some other children that have the same combo of images. 
Just insert image url addresses in the inputs and you will see them and 
whill be able to send them as arrays from app.component</h2>

<suite (toPpal)="setParentArray($event)"></suite>
<hr/>
<div *ngFor="let hijo of hijosArrTmp; let i = index;">
  <h4>hijo ^</h4>
  <suite (toPpal)="setChildrenArray($event, i)"></suite>
</div>